.SegmentedControl {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  height: 2rem;
  background-color: var(--gray);
  border-radius: 5px;
}
.SegmentedControl--Outlined {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 2rem;
  background-color: white;
  border-radius: 5px;
}
.Borderland {
  position: absolute;
  /* left: 34%;
  right: 36%; */
  width: 30%;
  top: 6px;
  bottom: 6px;
  border-left: 1px solid rgba(155, 155, 155, 0.2);
  border-right: 1px solid rgba(155, 155, 155, 0.2);
}

.SegmentedControl__TabsRow {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.SegmentedControl__TabsRow__Tab {
  flex: 1;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  color: rgb(120, 120, 129);
  transition: color 0.3s linear;
}
.SegmentedControl__TabsRow__Tab--Outlined {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  color: rgb(120, 120, 129);
  transition: color 0.3s linear;
}
.SegmentedControl__TabsRow__Tab--Selected {
  transform: scale(1);
  color: black;
}

.SegmentedControl__ThumbRack {
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  display: flex;
}

.SegmentedControl__ThumbRack__Animator {
  transition: flex 0.3s ease-in-out;
  flex: 0;
}

.SegmentedControl__ThumbRack__Thumb {
  background-color: white;
  flex-grow: 0.33;
  border-radius: 5px;
  box-shadow: 0 1px 2px #b8b8b8;
}
.SegmentedControl__ThumbRack__Thumb--Outlined {
  background-color: transparent;
  flex-grow: 0.33;
  border-radius: 25px;
  border: 1px solid rgb(31, 31, 31);
  height: 2rem;
  align-self: center;
}
