.ProductTable {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ProductTable__Row {
  /* Layout */
  width: 100%;
  display: grid;
  grid-template-columns: 10rem 12rem auto 12rem;
  column-gap: 1rem;
  align-items: center;

  /* Styles */
  background-color: white;
  height: 8rem;
  max-height: 8rem;
  padding: 0 10px;
  /* transition: background-color 0.1s linear; */
}

.ProductTable__Row:not(:last-child) {
  border-bottom: 1px solid rgb(240, 240, 240);
}

.ProductTable__Row:hover {
  background-color: rgb(248, 248, 248);
}

.ProductTable_Column_Logo {
  height: 100%;
  display: flex;
}
.ProductTable_Column_Title {
  text-align: left;
  flex-wrap: wrap;
}
.ProductTable_Column_Covers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.ProductTable_Column_Price {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ProductTable_Column_PriceButton {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 2px;
  padding: 8px 15px;
  font-size: 1.3rem;
  cursor: pointer;
  width: 7rem;

  border: 1px solid transparent;
  transition: background-color 0.1s ease-out;
}

.ProductTable_Column_PriceButton:active {
  transform: scale(0.97);
}

.ProductTable__Row:hover .ProductTable_Column_PriceButton:hover {
  /* border-color: #dedede; */
  background-color: white;
  box-shadow: 0 0 2px #ababab;
}

.ProductTable_Column_PriceButton_Icon {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 12px; */
  opacity: 0;
  transform: scale(0.5);
  transform-origin: center;
  transition: all 0.1s ease-out;
  color: #0f5b99;
}

.ProductTable__Row:hover .ProductTable_Column_PriceButton_Icon {
  opacity: 1;
  transform: scale(1.5);
}

.ProductTable_Logo_PH {
  color: rgb(211, 211, 211);
  flex: 1;
  margin: 20px 10px 20px 0;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #9e9e9e, #f45c43);

  display: flex;
  justify-content: center;
  align-items: center;
}

.ProductTable__CoverItem {
  padding-top: 2px;
  padding-bottom: 1px;
  color: rgb(85, 84, 82);
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ProductTable__CoverItem--Header {
  padding-top: 2px;
  padding-bottom: 1px;
  font-weight: 600;
  font-size: 0.9rem;
}

.ProductTable__CoverItem--Link {
  color: #0f5b99;
  cursor: pointer;
  font-size: 0.9rem;
  padding-top: 4px;
}
.ProductTable__CoverItem--Link:hover {
  text-decoration: underline;
  text-decoration-color: #0f5b99;
}
.ProductTable__CoverItem--Link:active {
  /* opacity: 0.3; */
}
