.ProductTable__FilledCoverItem {
  color: rgb(44, 44, 46);
  font-size: 0.9rem;
  background-color: rgb(235 235 235);
  border-radius: 3px;
  padding: 2px 6px;
  margin-bottom: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ProductTable__FilledCoverItem--Header {
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: 600;
  /* font-size: 0.9rem; */
}

.ProductTable__FilledCoverItem--Link {
  color: #0f5b99;
  cursor: pointer;
  font-size: 0.9rem;
  padding-top: 2px;
}
.ProductTable__FilledCoverItem--Link:hover {
  /* text-decoration: underline; */
  text-decoration-color: #0f5b99;
}
.ProductTable__FilledCoverItem--Link:active {
  /* text-decoration: underline; */
  transform: scale(0.96);
  transform-origin: bottom;
  text-decoration-color: #0f5b99;
}
