.ButtonLink {
  padding: 10px 20px;
  color: rgb(68, 68, 75);
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}

.ButtonLink:hover {
  background-color: rgba(200, 211, 241, 0.404);
  color: rgb(52, 106, 255);
}

.ButtonLink > * {
  text-decoration: none;
  color: inherit;
}
.ButtonLink:active {
  transform: scale(0.97);
}
