.SegmentedControlMatFill {
  /* Position */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;

  overflow: hidden;

  height: 2rem;
  background-color: white;
  border-radius: 5px;
}

.SegmentedControlMatFill__Tab {
  /* posiiton */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  /* styles */
  background-color: white;
  color: rgb(54, 54, 54);
  border-radius: 10px;
  transition: all 0.2s ease-out;
  height: 100%;

  /* misc */
  cursor: default;
}

.SegmentedControlMatFill__Tab--Selected {
  color: var(--blue);
  background-color: var(--opacity-blue);
}
